*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

.hes-mak{
border: 1px solid #ccc;
border-radius: 5px;
width: 400px;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.hes-mak-input{
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: #252525;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
}

button{
    height: 50px;
    width: 70px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 3rem;
    color: #333;
}

button:hover{
    background-color: #eaeaea;
}

.operator{
    color: #337cac;
}

.clear{
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover{
    background-color: #f17377;
}

.hes-mak-keys{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 20px;
}

/*.esittir-isareti{
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    grid-area: ;
}*/

.esittir-isareti:hover{
    background-color: #4e9ed4;
}

.esittir-isareti{
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    grid-area: 2/4/6;
    /*grid-row-start:2;
    grid-row-end: 6;
    grid-column-start: 4;*/
    height: 100%;
    /*height: 260px;*/

} 